/* style.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #4CAF50;
    color: #fff;
}
textarea {
    resize: none;
}
section {
    padding: 20px;
    border-radius: 8px;
    color: #000; /*(Original was #fff) I changed this so I could see better*/
    height: 50vh; /* Make each section take up the entire viewport height */
    display: flex;
    align-items: center; /* Center content vertically */
    margin-bottom: 10px; /* Add a slight white gap between sections */
}

h1, h2 {
    color: #333;
}

p {
    color: #000; /*(Original was #e1e1e1) I changed this so I could see better*/
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #888;
}

/* Delete this part of CSS */
.PrivPolicyBody p {
    color: #000;
}

.PrivPolicyHeader {
    background-color: #fff;
}


  /* Responsive screen for Samsung S8+ */
  @media only screen and (min-width: 360px) and (max-width: 740px) {
    body {
      margin: 10px;
    }
  
    section {
      flex-direction: column;
      height: auto;
    }
  
    .section img {
      position: relative;
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  
    .text-container {
      width: 100%;
    }
  }

  @media only screen and (min-width: 150px) and (max-width: 360px) {
    body {
      margin: 5px;
    }
  
    section {
      flex-direction: column;
      height: auto;
    }
  
    .section img {
      position: relative;
      width: 50%;
      height: 25%;
      margin-bottom: 10px;
    }
  
    .text-container {
      width: 50%;
    }
  }

  @media only screen and (min-width: 740px) and (max-width: 1200px) {
    body {
      margin: 10px;
    }
  
    section {
      flex-direction: column;
      height: auto;
    }
  
    .section img {
      position: relative;
      width: 50%;
      height: 60%;
      margin-bottom: 10px;
    }
  
    .text-container {
      width: 100%;
    }
  }