html{
    color: aliceblue;
    background-color: #005D99;
}

.form-style{
    font-weight: bold;
    font-size: 18px !important;
    color: #000;
   background-color: #4CAF50 !important;
   border-radius: 30px !important;
}

.ContactUscontainer { /* This container is specific for the Contact us containers*/
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.input-container input,
.input-container textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.input-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #0056b3;
}

.login-item{

  align-items: center;
  padding: 5%;

}
a{
  color: #faf9f6;
  text-decoration: none;
  font-weight: bold;
}
