{{!-- Omid Latifi, Carlos DaSilva, Christian Schoenwiese, Tristan Schwekendiek
1199455, 1191123, 1186384 , 1207799  --}}

{{!-- SOURCE: https://getbootstrap.com/docs/5.3/components/navbar/ --}}

<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img class="navImage" src="/Assets/images/Images/Logo.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-auto">
          <a class="nav-link nav-link1" aria-current="page" href="/about">About Us</a>
        </li>
        <li class="nav-item me-auto">
          <a class="nav-link nav-link2" aria-current="page" href="/post">Find Post</a>
        </li>
        <li class="nav-item me-auto">
          <a class="nav-link nav-link3" aria-current="page" href="/contact">Contact Us</a>
        </li>
        </ul>
        <ul class="navbar-nav mb-2 ms-auto mb-lg-0">
        {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-regular fa-id-badge"></i> {{user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout"><i class="fa-regular fa-id-badge"></i> Logout</a>
                    </li>
                {{else}}
                    {{!-- <li class="nav-item">
                        <a class="nav-link" href="/auth/register"><i class="fa-solid fa-user-plus"></i> Register</a>
                    </li> --}}
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login"><i class="fa-regular fa-id-badge"></i> Login</a>
                    </li>
                {{/if}}           
        </ul>
        </div>
    </div>
</nav>

  <!-- Script Section -->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="Scripts/app.js"></script>

    
