{{!-- Omid Latifi, Carlos DaSilva, Christian Schoenwiese, Tristan Schwekendiek
1199455, 1191123, 1186384, 1207799 --}}


<body class="about-body">
    <!-- About Us Section -->
    <section class="section-about-us fade-in about-section">
        <div class="about-container text-container">
                    <div class="blob-container">
        <svg
            class="blob"
            id="visual1"
            class="blob" viewBox="0 130 440 200"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            
        >
                <defs>
                    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" stop-color="#4CAF50" stop-opacity="1" />
                    <stop offset="100%" stop-color="#005D99" stop-opacity="1" />
                    </linearGradient>
                </defs>
            <g>
            <path
                id="blob1"
                d="M220,327.207912354331C275.9694758060868,328.8592928276204,345.6882730187871,319.52254254906387,358.64392019921,265.04814043566665C370.5814306610538,214.85468146944845,299.2882560533691,198.63916318075644,257.90539702094236,167.82769685209306C213.61042937962455,134.84803000644862,175.5956473482943,65.39242244647133,127.92107787847192,93.26423633545548C75.12400057699698,124.13080374851829,82.0408003240163,200.63941623595295,104.43963680694576,257.5478381052515C122.65155143479222,303.8186040657515,170.29580574407282,325.74138913515344,220,327.207912354331"
                 fill="url(#gradient)"
            ></path>
            </g>
            <g style="visibility: hidden">
            <path
                id="blob2"
                d="M220,330.4402947053313C271.42268925256707,328.15654091470554,324.63103619589486,308.11598251445963,340.0197473017178,258.99677983522434C355.0313308273163,211.0813300838066,324.1515541002919,161.6617573902791,280.83133624827707,136.27284858976864C247.56454977726963,116.7760073992717,213.15259499222552,145.16087369670456,180.33966369494587,165.41223014991695C130.52498253008005,196.1566600130441,48.297346547706184,214.42747257336092,61.976061491042366,271.34509009785796C76.5044830596632,331.79836699579226,157.8866827455888,333.1988342875649,220,330.4402947053313"
                 fill="url(#gradient)"
            ></path>
            </g>
            <g style="visibility: hidden"> 
            <path
                id="blob3"
                d="M220,307.2052356846896C288.4092420286588,309.50407841095,376.80513832524673,342.63196722354667,403.68451932481923,279.6827182217077C433.54416411662567,209.75394214104642,376.55142873572515,133.03454848346385,310.31814522421223,95.68773782290448C261.28741976043443,68.04089437255246,211.63232341849113,112.72025929828456,165.98118627534672,145.6494814240871C119.52428886287095,179.1599170869317,52.58423246024725,214.16932800786378,70.74879601465076,268.49465586131515C88.7677785183805,322.3845899171994,163.2094487345881,305.2968305945979,220,307.2052356846896" 
                fill="url(#gradient)"
            ></path>
            </g>
            <g style="visibility: hidden">
            <path
                id="blob4"
                d="M220,316.0757466212713C277.7013438617211,313.865004963045,351.46165404385556,323.42977659474343,369.2943357722695,268.5086702284193C387.1228964713039,213.60025581142378,326.01078418786307,171.8948045362268,276.4017172838959,142.3696960469192C242.12318644807874,121.9686402532122,203.06687503042136,129.2611943944204,168.35726029273877,148.91986674332685C107.09752205600913,183.61587622879688,10.008581655155751,214.21215092904046,30.7903226344423,281.47795089394316C51.714217642220504,349.20387132970814,149.1674881311004,318.7895895626186,220,316.0757466212713"
                fill="url(#gradient)"
            ></path>
            </g>
        </svg>
            <h2 class="meet-about-h2">About Us</h2>
            </div>
            <p class="about-p">As Georgian students, we understand the frustrations that come along with coding. Countless hours spent debugging can be incredibly annoying. That's why we're here!</p>
            <p class="about-p">Our development team, 3-Bits, has taken it upon ourselves to create a coding forum where Georgian students can collaborate, share, and problem-solve as a united community.</p>
        </div>
        <img src="/Assets/images/Images/TeamLogo.jpg" alt="Right Image" class="right">
    </section>

<div class="custom-shape-divider-bottom-1709771878">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
</div>

    <!-- Our Mission Section -->
    <section class="section-our-mission about-section">
        <div class="about-container text-container fade-in">
            <h2 class="about-h2">Our Mission</h2>
            <p class="about-p">At 3-Bits, our mission is to foster a supportive environment for Georgian students interested in coding. We aim to provide a platform where you can:</p>
            <ul class="about-list">
                <li>Collaborate with fellow students on coding projects.</li>
                <li>Share your knowledge and experiences.</li>
                <li>Seek help and solutions for coding challenges.</li>
                <li>Connect with like-minded individuals who share your passion for technology.</li>
            </ul>
        </div>
        <img src="/Assets/images/Images/collab.jpg" alt="Left Image" class="right fade-in">
    </section>

        <div class="custom-shape-divider-bottom-1709771436">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
    </div>

    <!-- Meet the Team Section -->
    <section class="section-meet-the-team fade-in about-section">
                <div class="blob-container">
        <svg
            class="blob"
            id="visual1"
            class="blob" viewBox="0 130 440 200"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            
        >
                <defs>
                    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" stop-color="#4CAF50" stop-opacity="1" />
                    <stop offset="100%" stop-color="#005D99" stop-opacity="1" />
                    </linearGradient>
                </defs>
            <g>
            <path
                id="blob5"
                d="M220,297.0999564882368C259.4507027087111,308.9336094119678,297.8326483106051,354.2851168845598,333.2335840437668,333.2335840437668C367.31177206105735,312.96863682293133,364.0733589548968,256.93327022027313,349.65377036016434,220C337.78716727665994,189.60575848607104,298.5155586580239,185.55564537796172,269.64290049876155,170.35709950123848C253.38663446180738,161.79981309608615,238.30093579868333,153.35318782332942,220,151.75035128253512C199.3344571517222,149.9404172126635,180.03564161372148,152.99356740767774,160.82673874801233,160.8267387480123C121.25830248282723,176.96229542718137,53.27623768166472,177.27289151212764,52.634725340176374,219.99999999999997C51.99681619841238,262.48712198165845,120.42908836760023,263.19831387087135,159.02277820782038,280.97722179217965C178.8737722974197,290.12195497334386,199.06544723302002,290.8204173533541,220,297.0999564882368"
                 fill="url(#gradient)"
            ></path>
            </g>
            <g style="visibility: hidden">
            <path
                id="blob6"
                d="M220,331.0537998968115C243.18715254473182,331.78247570484433,265.5873891188146,331.836160751966,287.9821634192932,325.7823111010003C318.23370967639477,317.6045857847057,354.15981961097236,314.9850495809627,372.75438694837925,289.7605910569634C391.69560807291583,264.0658793715448,401.97419649999006,222.39035051590125,383.2652898465301,196.5259951572711C362.31497183973346,167.56297343500043,303.13089602542,194.9703499514222,282.8806746202354,165.51358527993062C258.07450165697065,129.42955514719696,312.5890534127213,57.25045620524587,273.693119644935,37.13802760909119C238.61765096894482,19.001096807168377,225.31162046757188,99.99159038382624,189.88131937812963,117.42519375391505C163.90889798204785,130.20501439492634,125.99354813810844,100.45287201712267,104.84699475259171,120.21935295596347C84.3229453727809,139.40395592448857,94.97321087552771,174.73863479724898,98.78912126773051,202.57250664224267C101.84989116350089,224.89826072702567,114.92284167799802,243.21528119044083,124.50539486904403,263.6109248956499C133.96408162340367,283.7429294997424,136.54050415952537,308.7623324894379,154.70943430981688,321.59410328267325C173.04341535698018,334.54244094365254,197.56571237802507,330.3487835033994,220,331.0537998968115"
                 fill="url(#gradient)"
            ></path>
            </g>
            <g style="visibility: hidden"> 
            <path
                id="blob7"
                d="M220,303.5842722374946C234.65952312419282,297.85618944257124,249.17551718933714,294.28600561896445,263.36667775546385,287.4798677625402C279.65932043203844,279.6658506083045,300.89152996821593,276.7778105600164,309.27189805695696,260.7691097954184C317.66135070916556,244.74305513221003,299.62574527955786,225.00701918157128,305.0964962671222,207.76497094176358C317.7828002838428,167.7818193893753,377.16239906023225,136.54810038702897,360.9632232728328,97.85467172692128C347.3160514889842,65.2569720191788,292.3378897244944,97.02181370408024,257.19124371534684,93.33825588022314C230.11653940471376,90.50068102696139,200.6222071909075,62.840149219028675,178.5204683119111,78.7336882547732C153.854210551189,96.47139354267381,170.72996297702156,138.30246531416628,156.9851159448037,165.3972921425432C148.0678856261631,182.97557516788243,125.38018325155761,188.3702341161972,114.54918575773291,204.83846182786598C98.197874386878,229.70017185902114,71.16952458142146,255.76018728125183,78.60417821631168,284.57330815610857C85.75310991737446,312.2791090372895,119.1920496584863,328.92138218622455,147.55013758147555,332.7341864411161C173.88270937936505,336.2746558149993,195.2526041510951,313.2541046856818,220,303.5842722374946" 
                fill="url(#gradient)"
            ></path>
            </g>
            <g style="visibility: hidden">
            <path
                id="blob8"
                d="M220,325.8995576233914C243.44110393915852,323.95565456194043,272.55151542665294,344.2462981282471,289.1158998038264,327.5464393502812C306.98928750608377,309.5268713594022,286.716694992149,277.7753398408646,292.2931305128447,253.01516646876078C296.2360516052449,235.50803140407112,313.06846936131996,223.75312306027118,316.4608303710468,206.13102637191238C320.8313574197772,183.42770853192368,328.29107564156334,156.68445802334364,314.3944519632228,138.20674176916822C300.5822670536854,119.84129995279221,271.33486820624796,126.35373276809949,250.0144312936601,117.78023436066367C225.54245773950356,107.93942166280111,206.4922498475521,85.0850109635957,180.1300957813379,84.21557598676571C149.98357287964438,83.22133092717361,119.99285536321526,94.19720485459948,96.17682142803582,112.70660500423253C69.47303184372078,133.46031774552932,38.01818907467345,160.15584028877672,38.91667433284376,193.9641483646401C39.8335148376047,228.46312979980576,80.40420637310619,246.51162362619647,100.47884061220732,274.5834845680967C115.87345938700544,296.11093021679255,118.78361636580793,329.2136868299324,143.1024569862059,339.65491253664914C167.52432284479227,350.1403718391283,193.51325029779153,328.09602729340537,220,325.8995576233914"
                fill="url(#gradient)"
            ></path>
            </g>
        </svg>
            <h2 class="meet-about-h2">Meet The Team</h2>
            </div>
            <div class="team-members">
                <div class="about-card-container">
                    <div class="about-card">
                         <img src="/Assets/images/Images/HeadshotOmid.JPG" alt="Omid Latifi" class="member-image">
                            <div class="glow"></div>
                        <div class="textBox">
                            <p class="text head">Omid Latifi</p>
                            <span>1199455</span>
                            <p class="text price">Project Manager</p>
                        </div>
                    </div>
                    </div>
                <div class="about-card-container">
                    <div class="about-card">
                        <img src="/Assets/images/Images/HeadshotTristan.JPG" alt="Tristan Schwekendiek" class="member-image">
                            <div class="glow"></div>
                        <div class="textBox">
                            <p class="text head">Tristan Schwekendiek</p>
                            <span>1207799</span>
                            <p class="text price">Front-End Developer</p>
                        </div>
                    </div>
                </div>

                 <div class="about-card-container">
                    <div class="about-card">
                        <img src="/Assets/images/Images/HeadshotChristian.JPG" alt="Christian Schoenwiese" class="member-image">
                            <div class="glow"></div>
                        <div class="textBox">
                            <p class="text head">Christian Schoenwiese</p>
                            <span>1186384</span>
                            <p class="text price">Back End Director</p>
                        </div>
                    </div>
                </div>

                <div class="about-card-container">
                    <div class="about-card">
                        <img src="/Assets/images/Images/carlos.webp" alt="Carlos Da Silva" class="member-image">
                            <div class="glow"></div>
                        <div class="textBox">
                            <p class="text head">Carlos Da Silva</p>
                            <span>1191123</span>
                            <p class="text price">Full Stack Developer</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <div class="custom-shape-divider-bottom-1709771871">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
</div>

    <!-- Join the Community Section -->
    <section class="section-join-community about-section">
        <div class="about-container text-container fade-in">
            <h2 class="about-h2">Join the Community</h2>
            <p class="about-p">We invite you to join our coding community and be a part of the 3-Bits family. Whether you're a beginner or an experienced coder, there's a place for you here.</p>
            <p class="about-p">Get started by registering on our forum and introducing yourself. Share your coding journey, ask questions, and contribute to the vibrant discussions that make our community thrive.</p>
        </div>
        <img src="/Assets/images/Images/Community.webp" alt="Left Image" class="right-blue fade-in">
    </section>

    <!-- Bootstrap JS and Popper.js (required for Bootstrap components) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/kute.js@2.1.2/dist/kute.min.js"></script>

    <!-- JavaScript for fade-in animations -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
    // Function to check if an element is in the viewport with an offset to trigger earlier
    function isInViewport(element, offset = 200) { // offset in pixels; adjust as needed
        const rect = element.getBoundingClientRect();
        return (
            rect.top >= (0 - offset) &&
            rect.left >= (0 - offset) &&
            rect.bottom <= ((window.innerHeight || document.documentElement.clientHeight) + offset) &&
            rect.right <= ((window.innerWidth || document.documentElement.clientWidth) + offset)
        );
    }

    // Function to handle scroll events and trigger animations
    function handleScroll() {
        document.querySelectorAll('.fade-in').forEach(function (element) {
            if (isInViewport(element)) {
                element.classList.add('visible');
            }
        });
    }

    // Attach the handleScroll function to the scroll event
    window.addEventListener('scroll', handleScroll);

    // Trigger the initial animations on page load
    handleScroll();
});
    </script>

<script>
  function startAnimation() {
    // Define the tween from blob1 to blob2 and blob5 to blob6
    const tween1 = KUTE.fromTo('#blob1', { path: '#blob1' }, { path: '#blob2' }, { duration: 12000 });
    const tween5 = KUTE.fromTo('#blob5', { path: '#blob5' }, { path: '#blob6' }, { duration: 12000 });

    // Define the tween from blob2 to blob3 and blob6 to blob7
    const tween2 = KUTE.fromTo('#blob1', { path: '#blob2' }, { path: '#blob3' }, { duration: 12000 });
    const tween6 = KUTE.fromTo('#blob5', { path: '#blob6' }, { path: '#blob7' }, { duration: 12000 });

    // Define the tween from blob3 to blob4 and blob7 to blob8
    const tween3 = KUTE.fromTo('#blob1', { path: '#blob3' }, { path: '#blob4' }, { duration: 12000 });
    const tween7 = KUTE.fromTo('#blob5', { path: '#blob7' }, { path: '#blob8' }, { duration: 12000 });

    // Define the tween from blob4 back to blob1 and blob8 back to blob5
    const tween4 = KUTE.fromTo('#blob1', { path: '#blob4' }, { path: '#blob1' }, { duration: 12000, complete: function() { tween1.start(); } });
    const tween8 = KUTE.fromTo('#blob5', { path: '#blob8' }, { path: '#blob5' }, { duration: 12000, complete: function() { tween5.start(); } });


    // Setup looping by using the complete callback for both sequences
tween1.chain(tween2);
tween2.chain(tween3);
tween3.chain(tween4);
// The complete callback of tween4 already loops back to tween1
tween4.chain(tween1);
tween5.chain(tween6);
tween6.chain(tween7);
tween7.chain(tween8);
tween8.chain(tween5);
// The complete callback of tween8 already loops back to tween5

// Start the first tween of each sequence to kick off the simultaneous animations
tween1.start();
tween5.start();
  }

  // Start the animation sequences when the document is ready
  document.addEventListener('DOMContentLoaded', startAnimation);
</script>

    <div class="fixed-gradient-box"></div>
    </body>