<div class="Contact-From-Section">
    <div class="Contact-Container">
                  <h1 class="Contact-h1">Contact us!</h1>
            <h3 class="Contact-h3">Contact us if you have questions about the 
                privacy policy or further inquiries about the website.</h3>
                    <p class="Contact-P">
        Please input your email address and your inquiries below.
        </p>
                <div class="Contact-Us-Form">
                    <form class="Contact-form" id="contact">
                    <div class="Contact-Input2">
                        <input type="text" id="name" required autocomplete="off">
                        <label for="name">Name: </label>
                    </div>
                    <div class="Contact-Input2">
                        <input  type="email" id="email" required autocomplete="off">
                        <label  for="email">E-Mail: </label>
                        </div>
                        <div class="Contact-Input2">
                        <textarea class="Contact-input" id="issue" placeholder="Input Your Inquiries Here"></textarea>
                        <div id ="captcha" class="g-recaptcha" data-sitekey="6Le-_LIpAAAAAI3Yv-r5dWYS0d5Q8TL6EeRZ-9Ti"></div>
                        <button class="Contact-btn" onclick="">Submit</button>
                        </div>
                    </form>
                </div>
                <img class="Contact-Image"src="/Assets/images/Images/Logo.png">
             </div>
    </div>
      <script src="/darkmode-js/lib/darkmode-js.js"></script>
      <script>
        // Initialize Darkmode.js here
        new Darkmode().showWidget();

        let contactForm = document.getElementById("contact");
let formName = document.getElementById("name");
let formEmail = document.getElementById("email");
let formIssue = document.getElementById("issue");

contactForm.addEventListener('submit', function(event){
    event.preventDefault()

    let formData = new FormData(contactForm)
    let captchaResponse = formData.get("g-recaptcha-response")
    let json = {
        name: formName.value,
        email: formEmail.value,
        issue: formIssue.value
    }

    let http = new XMLHttpRequest();
    http.open('POST', '/contact/send_email/'+encodeURI(captchaResponse));
    http.setRequestHeader('content-type', 'application/json');
    http.onload = function(){
        window.location.assign("/")
      alert("If Captcha was Successfully Filled Out, The Email Has Been Sent.")
    }
    http.send(JSON.stringify(json))
    }
);

    </script>