{{!-- Omid Latifi, Carlos DaSilva, Christian Schoenwiese, Tristan Schwekendiek
1199455, 1191123, 1186384, 1207799 --}}

<div class="container">
    <h1><i class="fa-solid fa-house fa-lg"></i> Welcome {{title}}!</h1>
</div>
