<h1> Are you sure you want to delete?</h1>

 <a href="/post/delete/{{this._id}}" class="btn btn-primary"
                onclick="return confirm('Are you sure you want to delete this post?');">
                Delete
            </a>