<div class="container">
    
    <header>
        <h1>Contact us!</h1>
            <h3>Contacting us should be used if you have questions about the 
                privacy policy or further inquries about the website.</h3>
    </header>
    <p class="Contact-Instructions">
        Please input your email address and the your inquries pleace.
    </p>
    <div class= "form-style">
                <div class="ContactUscontainer">
                    <form class="input-container" id="contact" action="app.js" method="post">
                        <label for="name">Name: </label>
                        <input type="text" id="name" required><br>
                        <label for="email">E-Mail: </label>
                        <input type="email" id="email" required><br>
                        <textarea id="issue" placeholder="Input your issue(s) here"></textarea>
                        <button onclick="sendEmails()">Submit</button>
                    </form>
                </div>
    </div>      
</div>