<h1>Edit Your Post</h1>
<form method="post">
        <label for="title">Title: </label>
        <input name="title" id="title" value="{{post.title}}" />
         <label for="code">Code: </label>
        <textarea name="code" id="code" value="{{post.code}}" />
         <label for="description">Description: </label>
        <input name="description" id="description" value="{{post.description}}" />
         <label for="language">Language: </label>
        <input name="language" id="language" value="{{post.language}}" />
     <button class="btn btn-primary offset-2">Save</button>
</form>