{{!-- Omid Latifi, Carlos DaSilva, Christian Schoenwiese, Tristan Schwekendiek
1199455, 1191123, 1186384, 1207799 --}}

<div class="Login-container">  
  <form class="Login-form" method="post">
    <h1 class="Loginh1">Forgot Password</h1>

      {{#if messages}} 
         <h3 class="alert alert-danger">{{messages}}</h3>
      {{/if}}

                <div class="Login-Form">
                    <div class="Login-Input2">
                      <label for="username">Username: </label>
                        <input class="textUserPass" name="username" type="text" id="username" required autocomplete="off">
                    </div>
                        <button class="Contact-btn" onclick="">Submit</button>
                       

                </div>
   
</div>
  </form>
</div>

      <script src="/darkmode-js/lib/darkmode-js.js"></script>
      <script>
        // Initialize Darkmode.js here
        new Darkmode().showWidget();
    </script>
