{{!-- Omid Latifi, Carlos DaSilva, Christian Schoenwiese, Tristan Schwekendiek
1199455, 1191123, 1186384, 1207799 --}}

<div class="Login-container">
  
  <form class="Login-form" method="post" action="/auth/login">
    <h1 class="Loginh1">Login</h1>

      {{#if messages}} 
         <h3 class="alert alert-danger">{{messages}}</h3>
      {{/if}}

    {{!-- <label for="email">Email : </label>
    <input type="email" id="LoginEmail" name="email"required> --}}
    <label for="username">Username : </label>
    <input type="username" id="username" name="username"required>
    <label for="password">Password : </label>
    <input type="password" id="LoginPassword" name="password"required>
    <button type="submit">Submit</button>
    <p>Don't have an account?</p>
  <a href="/auth/register" title="Register"> Create Account </a>
  </form>
</div>

    </script>
        <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script>
    function addDarkmodeWidget() {
        new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
    </script> 