{{!-- Omid Latifi, Carlos DaSilva, Christian Schoenwiese, Tristan Schwekendiek
1199455, 1191123, 1186384, 1207799 --}}


<div class="Login-container">
  <img src="Assets/images/Images/2020-11-10-georgian-college.jpg" alt="gerogian college barrie campus" class="login-image">
  
  <form class="Login-form" method="post" action="/auth/login">
    <h1 class="Loginh1">Logout</h1>

    <button type="submit">Logout</button>

  </form>
</div>