{{!-- Omid Latifi, Carlos DaSilva, Christian Schoenwiese, Tristan Schwekendiek
1199455, 1191123, 1186384, 1207799 --}}


<div class="register-container">
  <img src="Assets/images/Images/2020-11-10-georgian-college.jpg" alt="gerogian college barrie campus" class="register-image">
  

<form method="post">
  <form class="register-form" method="post">
    <h1 class="registerh1">Register</h1>

    {{#if messages}}
<h3 class="alert alert-danger">{{messages}}</h3>
{{/if}}

    {{!-- <label for="email">Email : </label>
    <input type="email" id="LoginEmail" name="email"required> --}}
    <label for="username">Username : </label>
    <input type="username" id="username" name="username"required>
    <label for="password">Password : </label>
    <input type="password" id="LoginPassword" name="password"required>
    <button type="submit">Submit</button>
    
     <p>Already have an account?</p>
  <a href="/auth/login" title="Register"> Sign-in </a>

  </form>
</div>